/* أنماط البطاقة */
.card {
  position: relative;
  display: inline-block;
  margin-right: 15px; /* هامش بين البطاقات */
  width: 165px; /* تحكم بعرض البطاقة هنا */
  height: 200px; /* تحكم بارتفاع البطاقة هنا */
  transition: transform 0.3s;
  cursor: pointer;
  border-radius: 15px;
}

.card:hover {
  transform: translateY(-10px); /* تحريك البطاقة عند تمرير الماوس فوقها */
}

.card img {
  width: 120px; /* تعديل العرض ليمتد من بداية البطاقة */

    height: 100%; /* تعديل الارتفاع ليمتد من بداية البطاقة */
    object-fit: fill; /* استخدم "fill" بدلاً من "cover" */
    object-position: left top; /* ضع الصورة في الزاوية اليسرى العلوية */
    border-radius: 15px;
  }
  



.card h3 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 10px;
  font-size: 32px; /* تحكم بحجم النص هنا */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.popup-content {
  display: none;
  position: absolute;
  top: 0; /* يظهر فوق البطاقة */
  left: 0;
  transform: translateX(0);
  width: 100%; /* تحكم بعرض النافذة هنا */
  height: 100%; /* تحكم بارتفاع النافذة هنا */
  padding: 0;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: #cf9898; /* يمكنك تغيير لون الخلفية حسب احتياجك */
}

.card:hover .popup-content {
  display: block;
}
