/* أنماط الزر */
.menu-button {
    background-color: #4CAF50;
    color: rgb(216, 83, 83);
    padding: 0.5px 0.5px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
  }
  
  .menu-icon {
    margin-left: 0;
    font-size: 24px;
  }
  
  /* أنماط القائمة المنبثقة */
  .popup {
    display: none;
    position: fixed;
    top: 0%;
    right: 0px;
    width: 300px;
    height: 400px;
    font-size: 30px;
    padding: 5px;
    background-size: cover;
    background-image: url('imag/Untitled12ki9.png');
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(255, 0, 0, 0.1);
    z-index: 0;
  }
  
  .menu:hover .popup {
    display: block;
  }
  
  .popup a {
    display: block;
    margin: 1px 0;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .popup a:hover {
    color: #f06;
  }
  